<footer class="legend-footer-contact-container header--custom-background">
  <div class="legend-footer-contact">
    <div class="legend-footer-contact-logo header--custom-text">
      <div>
        {{#if logo}}
        <a class="nav-legend-header__logo" href="/" id="logo-wrapper">
          <span class="nav-header__title-hidden">{{name}}</span>
          <img class="nav-header__image" src="{{logo}}" alt="{{name}}" itemprop="logo" />
        </a>
        {{else}}
        <h3 class="nav-footer-contact-title header--custom-text">
          <a href="/">{{name}}</a>
        </h3>
        {{/if}}
      </div>
      <div class="legend-footer__brand-col header--custom-text">
        {{#if logoCaption}}
        <p class="legend-footer__logo-caption">{{{logoCaption}}}</p>
        {{/if}}
      </div>
    </div>
    <div class="nav-bounds nav-bounds--contact">
      <div class="legend-footer__contact-col legend-list--spacing">
        <h3 class="legend-footer__title">Institucional</h3>
        <ul class="legend-footer__contact header--custom-border ">
          <li>
            <a class="header--custom-text" href="#">
              <span>Quem Somos</span>
            </a>
          </li>
          <li>
            <a class="header--custom-text" href="#">
              <span>Políticas da Empresa</span>
            </a>
          </li>
          <li>
            <a class="header--custom-text" href="#">
              <span>Políticas de Privacidade</span>
            </a>
          </li>
        </ul>
        <div class="footer-arrow__mobile">{{> legend/views/partials/icons/arrow}}</div>
      </div>
    </div>
    <div class="nav-bounds nav-bounds--contact">
      <div class="legend-footer__contact-col legend-list--spacing">
        <h3 class="legend-footer__title">Minha Conta</h3>
        <ul class="legend-footer__contact header--custom-border">
          <li>
            <a class="header--custom-text" href="#">
              <span>Login</span>
            </a>
          </li>
          <li>
            <a class="header--custom-text" href="#">
              <span>Conta</span>
            </a>
          </li>
          <li>
            <a class="header--custom-text" href="#">
              <span>Meus Pedidos</span>
            </a>
          </li>
        </ul>
        <div class="footer-arrow__mobile">{{> legend/views/partials/icons/arrow}}</div>
      </div>
    </div>
    <div class="nav-bounds nav-bounds--contact">
      <div class="legend-footer__contact-col legend-list--spacing">
        <h3 class="legend-footer__title">Fale Conosco</h3>
        <ul class="legend-footer__contact header--custom-border talk-to__flex">
          {{#if showEmail}}
          <li>
            <a class="header--custom-text" itemprop="email" href="mailto:{{email}}" rel="nofollow">
              {{> legend/views/partials/icons/email}}
              <span>{{email}}</span>
            </a>
          </li>
          {{/if}}
          {{#if showPhone}}
          <li>
            <a class="header--custom-text" itemprop="telephone" href="tel:{{phone.raw}}" rel="nofollow">
              {{> legend/views/partials/icons/phone}}
              <span>{{phone.formatted}}</span>
            </a>
          </li>
          {{/if}}
          {{#if showPhone}}
          <li>
            <a class="header--custom-text" itemprop="telephone" href="tel:{{phone.raw}}" rel="nofollow">
              {{> legend/views/partials/icons/whatsapp}}
              <span>{{phone.formatted}}</span>
            </a>
          </li>
          {{/if}}
          
          {{#if address}}
          <li>
              <span class="header--custom-text">{{address.address}}</span>
          </li>
          {{/if}}
        </ul>
        <div>
        <div class="legend-footer__social-media">
          {{#each socialNetworks}}
          <a href="{{url}}" target="_blank" class="header--custom-svg header--svg" rel="noopener noreferrer nofollow">
            {{> (concat 'legend/views/partials/icons/' (lookup . 'name'))}}
          </a>
          {{/each}}
        </div>
      </div>
      </div>
      
    </div>
    
  </div>
  <div class="menuFooterIndex wrapper legend-footer-contact second-footer__info">
      <div class="legend-footer__contact-col legend-list--spacing">
        <h3 class="legend-footer__title">Formas de Pagamento</h3>
        <ul class="legend-footer__payment">
          <li>
            <img src="https://i.imgur.com/2K5DxkN.png" alt="">
          </li>
          <li>
            <img src="https://i.imgur.com/2K5DxkN.png" alt="">
          </li>
          <li>
            <img src="https://i.imgur.com/2K5DxkN.png" alt="">
          </li>
          <li>
            <img src="https://i.imgur.com/2K5DxkN.png" alt="">
          </li>
          <li>
            <img src="https://i.imgur.com/2K5DxkN.png" alt="">
          </li>
          <li>
            <img src="https://i.imgur.com/2K5DxkN.png" alt="">
          </li>
          <li>
            <img src="https://i.imgur.com/2K5DxkN.png" alt="">
          </li>
          <li>
            <img src="https://i.imgur.com/2K5DxkN.png" alt="">
          </li>
          
        </ul>
      </div>
      <div class="legend-footer__contact-col legend-list--spacing">
        <h3 class="legend-footer__title">Segurança</h3>
        <ul class="legend-footer__payment">
          <li>
            <img src="https://i.imgur.com/0X6TlIf.png" alt="">
          </li>
          <li>
            <img src="https://i.imgur.com/0X6TlIf.png" alt="">
          </li>
          <li>
            <img src="https://i.imgur.com/0X6TlIf.png" alt="">
          </li>
        </ul>
      </div>
  </div>
</footer>
<div class="legend-footer-info header--custom-background">
  <div class="footer-help">
    {{#if showBusinessData}}
    {{#with fiscalData}}
      <div class="nav-footer-fiscal-data header--custom-text">
        <p class="nav-footer-fiscal-data__name">{{legal_name}}</p>
        <p class="nav-footer-fiscal-data__id">{{legal_doc}}</p>
      </div>
    {{/with}}
    {{/if}}
  </div>
  <div class="nav-footer__icons_generals">
    <a href="{{{linkToMShopsLandingPage}}}" target="_blank" class="legend-footer-info__brand header--custom-text">
      <span class="footer-power-by">{{i18n.powered_by}}</span>
      {{> legend/views/partials/icons/mshops}}
    </a>
  </div>
</div>


{{> scripts}}