{{#if is_transparent}}
  <div class="header-wrapper header-wrapper--fixed {{headerAdditionalClasses}} header-wrapper--transparent haeder-wrapper-with-transparent" id="header-wrapper" data-ms-theme="legend">
{{else}}
  <div class="header-wrapper header-wrapper--fixed {{headerAdditionalClasses}}" id="header-wrapper" data-ms-theme="legend">
{{/if}}
    {{#if flash.enabled}}
    {{> components/flash}}
  {{/if}}
  {{> components/cookieDisclaimer}}
  <header role="banner" class="nav-default-header header--custom-background" itemtype="http://schema.org/Store" itemid="#this" itemscope="">
    <div class="nav-default-header__bounds">
      <!-- Logo -->
      <div class="nav-default-header__title">
        {{#if logo}}
          <a class="nav-default-header__logo" href="/" id="logo-wrapper">
            <span class="nav-header__title-hidden">{{shop.name}}</span>
            <img class="nav-header__image" src="{{logo}}" alt="{{shop.name}}" itemprop="logo" />
          </a>
        {{else}}
          <div class="nav-default-header__shop-name header--custom-title-container">
            <a class="header--custom-title" href="/" id="logo-wrapper">{{name}}</a>
          </div>
        {{/if}}
      </div>
      {{> legend/views/partials/search-form}}
      <!-- Icons -->
        <ul class="nav-icons-group">
          <li class="nav-button__container">
            <a class="nav-button__link" href="#" title="Carrito">
              <span class="nav-button">
                {{> legend/views/partials/talk}}
              </span>
                Fale <br> Conosco
            </a>
          </li>
          {{#if  menu_labels.search}}
            <span class="nav-default-header__menu-labels nav-default-menu-icons header--custom-text">{{menu_labels.search}}</span>
          {{/if}}
          <li class="nav-button__container">
            <a class="nav-button__link" href="https://myaccount.mercadolivre.com.br/purchases/list#menu-user" title="Carrito">
            <span class="nav-button">
              {{> legend/views/partials/user}}
            </span>
              Minha <br> Conta
            </a>
          </li>
          {{#if cart}}
          <li class="nav-button__container">
            <a class="nav-button__link" href="{{cart.href}}" title="Carrito" id="nav-cart">
              <span class="nav-button">
                {{> legend/views/partials/cart}}
              </span>
              Meu <br> Carrinho
            </a>
          </li>
            
          {{/if}}
          {{#if  menu_labels.cart}}
            <span class="nav-default-header__menu-labels nav-default-menu-icons header--custom-text">{{menu_labels.cart}}</span>
          {{/if}}
        </ul>
    </div>

    <div class="nav-default-header__bounds categories-container">
      <ul class="categories-items">
        <li class="category-items__item">
          <a class="category-items__link" href="#">Teste</a>
        </li>
        <li class="category-items__item">
          <a class="category-items__link" href="#">Teste</a>
        </li>
        <li class="category-items__item">
          <a class="category-items__link" href="#">Teste</a>
        </li>
        <li class="category-items__item">
          <a class="category-items__link" href="#">Teste</a>
        </li>
        <li class="category-items__item">
          <a class="category-items__link" href="#">Teste</a>
        </li>
      </ul>
    </div>
  </header>
</div>
